.jefbox-button-large {
  width: 100px;
  height: 70px;

  .x-icon-el {
    height: 32px;
    width: 32px;

    &::before {
      font-size: 26px;
    }
  }
}

.jefbox-base-color {
  color: var(--base-color);
}

.jefbox-color-success {
  color: var(--confirm-color);
}

.jefbox-color-failure {
  color: var(--alert-color);
}

.jefbox-element-hidden {
  display: none !important;
}

.jefbox-element-invisible {
  visibility: hidden !important;;
}
