.jefbox-button-large {
  width: 100px;
  height: 70px;

  .x-icon-el {
    height: 32px;
    width: 32px;

    &::before {
      font-size: 26px;
    }
  }
}

.jefbox-base-color {
  color: $base-color;
}

.jefbox-color-success {
  color: $confirm-color;
}

.jefbox-color-failure {
  color: $alert-color;
}

.jefbox-color-radiation {
  color: #fbe90a !important;
}

.jefbox-element-hidden {
  display: none !important;
}

.jefbox-element-invisible {
  visibility: hidden !important;;
}

.jefbox-inner-element-full .x-innerhtml {
  height: 100%;
  width: 100%;
}

.jefbox-media-tag {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: none;
}

// TODOJEF: Eventually make better
.x-paneltool.x-button .x-icon-el {
  color: #666;
}