// TODOJEF: Change how default Material stlying is for buttons in headers
.x-panelheader:not(.x-dialogheader) .x-text-el {
  color: #fff;
}

.x-panelheader > .x-body-el {
  padding: 0 10px;
}

.x-titlebar-body-el,
.x-panelheader.x-horizontal {
  min-height: 36px;
}

.x-paneltitle {
  padding: 5px 0;
}

.x-titlebar-body-el {
  padding: 5px 10px;

  .x-titlebar-right {
    height: 24px;
  }
}